/*Start SLider*/
.slider {
  .quote {
    display: block;
    margin: 20px auto;
    text-align: center;
  }
  .carousel {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    .track {
      display: flex;
      transition: transform 0.5s ease;
      .slide {
        min-width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }
  }
  .bullets {
    display: flex;
    justify-content: center;
    gap: 5px;
    li {
      list-style: none;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background-color: $greyColor;
      border-radius: 50%;
      &.active {
        background-color: $redColor;
      }
    }
  }
}

/*End Slider*/
/*Start Services*/
.services {
  position: relative;
  padding: 40px 0;
  .service-content {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    .service-box {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      justify-content: center;
      align-items: center;
      background: rgb(204 204 204 / 5%);
      &:not(:last-child) {
        margin-bottom: 35px;
      }
      @media #{$minSmall} {
        flex: 1 1 calc(100% / 3);
        padding-left: 10px;
        padding-right: 10px;
        &:not(:last-child) {
          margin-bottom: 0px;
        }
        display: unset;
      }
      .info {
        gap: 5px;
        display: flex;
        flex-direction: column;
        @media #{$maxMobile} {
          align-items: center;
        }
        h3 {
          text-transform: capitalize;
          margin: 0;
        }
        .service-icon {
          font-size: 30px;
          color: #777;
        }
      }
      .service-desc {
        color: #777;
        max-width: 300px;
        line-height: 1.6;
      }
      .service-link {
        color: $redColor;
        text-decoration: none;
      }
    }
  }
}

/*End Services*/
/*Our Players*/
.our-players {
  padding: 40px 0;
  background-color: #ececec;
  .player-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    .player-box {
      .info {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        gap: 5px;
        overflow: hidden;
        padding: 6px;
        border-radius: 6px;
        .player-img {
          @include prefixer(user-select, none, webkit moz o ms);
          width: 100%;
          display: block;
          object-fit: cover;
          user-select: none;
          border-radius: 6px;
        }
        h3 {
          text-transform: capitalize;
          margin-bottom: 4px;
          margin-top: 4px;
        }
      }
      .player-desc {
        color: #777;
        line-height: 1.6;
        font-weight: 200;
        @media #{$minSmall} {
          margin: 0;
        }
      }
      .player-link {
        color: $redColor;
        text-decoration: none;
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
  }
}
/*End Our Players*/
/*Start Lorem Ipsum*/
.lorem-ipsum {
  padding: 40px 0;
  .lorem-boxs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    @media #{$maxMobile} {
      flex-direction: column;
    }
    .lorem-box {
      flex: 1;
    }
    .lorem-img {
      max-width: 100%;
    }
  }
}
/*End Lorem Ipsum*/
