/*Reset And Grid-System*/
* {
  @include prefixer(box-sizing, border-box, webkit moz);
}
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  @media #{$minSmall} {
    width: 750px;
  }
  @media #{$minMedium} {
    width: 970px;
  }
  @media #{$minLarge} {
    width: 1170px;
  }
}
.text-center-xs {
  @media #{$maxMobile} {
    text-align: center;
  }
}
.mx-auto-xs {
  @media #{$maxMobile}{ 
    margin-left: auto;
    margin-right: auto;
  }
}
/*End Reset And Grid-System*/
